table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: 10px 2em 1em 300px;
  border-spacing: 15px 50px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}